In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# GET DATASET

In [8]:
columns_names=["E3","H2","E2","H1","E1","E"]
df=pd.read_csv("data.csv",sep=',',names=columns_names)

In [9]:
df.head()

    E3   H2   E2   H1    E1           E
0   77  250  186  140  2250  356.299597
1  120  350  337  250  2050  594.711794
2   50  250  120  180  2750  397.169697
3   77  450  242  280  2100  533.652731
4   50  200  109  200  3450  475.882888

In [13]:
df.shape

(81, 6)

In [16]:
input_data=df[["E3","H2","E2","H1","E1"]].to_numpy()
output_data=df[["E"]].to_numpy()

In [15]:
print(output_data)

[[356.2995965]
 [594.7117945]
 [397.1696973]
 [533.6527312]
 [475.8828877]
 [419.4245187]
 [711.2898343]
 [541.5388347]
 [630.480341 ]
 [784.7885018]
 [558.0701835]
 [682.4359277]
 [545.3691994]
 [530.4304522]
 [420.9039418]
 [512.9576885]
 [446.7888892]
 [382.6971598]
 [488.5032947]
 [519.0499552]
 [456.6873923]
 [455.6030014]
 [545.432786 ]
 [568.4774227]
 [702.5111452]
 [745.7881396]
 [394.7736027]
 [519.5370003]
 [504.7810886]
 [466.8447227]
 [797.4837935]
 [541.7115156]
 [404.4629393]
 [642.5091799]
 [501.3825274]
 [629.9229934]
 [500.8773496]
 [575.0567456]
 [493.7101956]
 [421.5740609]
 [570.9365464]
 [311.9324739]
 [440.2372941]
 [590.8114438]
 [553.1311155]
 [426.002911 ]
 [440.9649635]
 [520.2895964]
 [608.797323 ]
 [480.0529465]
 [416.0375934]
 [277.7627831]
 [660.7711645]
 [373.8529064]
 [472.7268121]
 [701.6041968]
 [513.9064712]
 [339.5149337]
 [572.7937595]
 [404.4629393]
 [570.3624506]
 [585.0868557]
 [480.8035371]
 [716.5890236]
 [383.8315579]
 [657.7644084]
 [788.0552638]
 [388.013101 ]
 [399.825208 ]
 [498.5188482]
 [561.1110392]
 [425.6116148]
 [414.3361357]
 [524.132353 ]
 [330.3410744]
 [487.9805454]
 [790.5006682]
 [363.4847111]
 [369.1498845]
 [623.609487 ]
 [375.8883379]]